# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


# Files to Ignore

*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.opensdf
*.sdf
*.vcxproj.user
.git/**
ipch/**
Debug/**